---
layout: default
title: "Home"
---


        <!-- Page loading spinner -->
        <div class="page-loading active">
            <div class="page-loading-inner">
                <div class="page-spinner"></div>
                <span>Loading...</span>
            </div>
        </div>
        <div class="bg-homepage d-flex align-items-center flex-column">
            <!-- Navbar -->
                 {% include navbar.html %}
            
            <!-- header -->
            <div class="py-5 m-auto">
                <div class="container py-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-xl-6">
                            <div class="text-white">
                                <p class="fw-bold text-uppercase" data-aos="fade-up" data-aos-duration="600">Hey friends,</p>
                                <h1 class="fw-bold display-4" data-aos="fade-up" data-aos-duration="600">Full Service Auto Repair Facility</h1>
                                <p class="lead" data-aos="fade-up" data-aos-duration="600">We provide top-notch auto repair services, ensuring your vehicle runs smoothly and efficiently. Trust our experienced technicians for all your car maintenance needs.</p>
                                <div class="d-flex align-items-center gap-3 mt-5">
                                    <a href="/about.html" class="btn btn-outline-light rounded-0 px-4 py-3" data-aos="fade-up" data-aos-duration="600">Learn More</a>
                                    <a href="/services.html" class="btn btn-light rounded-0 px-4 py-3" data-aos="fade-up" data-aos-duration="600">See our services</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 ps-lg-5">
                            <div class="p-5 shadow">
                                <div class="p-4" data-aos="fade-up" data-aos-duration="600">
                                    {% include contact-form.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- book inspection -->
<div class="bg-primary py-5">
    <div class="container py-4">
        <div class="row justify-content-center mb-5 py-5">
            <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                <div class="text-center text-white pb-5" data-aos="fade-up" data-aos-duration="600">
                    <p>Ensure your vehicle is in top condition</p>
                    <h2 class="fw-bold">Free Car Inspection</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-inspection-two bg-white shadow-sm p-5 mt-n10">
                    <div class="row align-items-center justify-content-between g-4 my-lg-5 pb-lg-5">
                        <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="600">
                            <div class="text-center">
                                <i class="ri-line-chart-line ri-3x text-primary"></i>
                                <h1 class="fw-bold display-2">20</h1>
                                <p class="mb-0">Years Of Experience</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="700">
                            <div class="text-center">
                                <i class="ri-tools-fill ri-3x text-primary"></i>
                                <h1 class="fw-bold display-2">15K</h1>
                                <p class="mb-0">Hours Of Maintenance</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between g-4">
                        <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="800">
                            <div class="text-center">
                                <i class="ri-user-settings-fill ri-3x text-primary"></i>
                                <h1 class="fw-bold display-2">25</h1>
                                <p class="mb-0">Team Members</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="900">
                            <div class="text-center">
                                <i class="ri-car-fill ri-3x text-primary"></i>
                                <h1 class="fw-bold display-2">2.5K</h1>
                                <p class="mb-0">Happy Cars</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Our Services -->
        <div class="bg-light py-5">
            <div class="container py-4">
                <div class="row g-4">
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="600">
                        <div class="bg-white shadow-sm p-5">
                            <div class="bg-primary p-3 service-icon mb-4">
                                <img src="/assets/img/our-services/service-1.png" alt="service" class="img-fluid">
                            </div>
                            <h4 class="fw-bold pb-1">Engine/Repair</h4>
                            <p class="mb-0">Our expert technicians provide comprehensive engine repair services to keep your vehicle running smoothly and efficiently.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="700">
                        <div class="bg-white shadow-sm p-5">
                            <div class="bg-primary p-3 service-icon mb-4">
                                <img src="/assets/img/our-services/service-2.png" alt="service" class="img-fluid">
                            </div>
                            <h4 class="fw-bold pb-1">Transmission Services</h4>
                            <p class="mb-0">We offer top-quality transmission services to ensure your vehicle's transmission system operates at peak performance.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="800">
                        <div class="bg-white shadow-sm p-5">
                            <div class="bg-primary p-3 service-icon mb-4">
                                <img src="/assets/img/our-services/service-3.png" alt="service" class="img-fluid">
                            </div>
                            <h4 class="fw-bold pb-1">Tire/Wheels</h4>
                            <p class="mb-0">Our tire and wheel services include everything from tire rotation and balancing to wheel alignment and replacement.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="900">
                        <div class="bg-white shadow-sm p-5">
                            <div class="bg-primary p-3 service-icon mb-4">
                                <img src="/assets/img/our-services/service-4.png" alt="service" class="img-fluid">
                            </div>
                            <h4 class="fw-bold pb-1">Car Painting</h4>
                            <p class="mb-0">Our professional car painting services will give your vehicle a fresh, new look with high-quality paint and expert application.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- faq -->
<div class="py-5">
    <div class="container py-4">
        <div class="row align-items-center g-4 g-md-5">
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="600">
                <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/faq.png" alt="faq" class="img-fluid w-100">
            </div>
            <div class="col-lg-6 col-12">
                <div class="mb-4" data-aos="fade-up" data-aos-duration="600">
                    <h6 class="text-success pb-2">FAQ</h6>
                    <h1 class="fw-bold pb-4">Frequently Asked Questions</h1>
                    <p>At our car repair center, we provide top-notch services to ensure your vehicle is running smoothly. Below are some of the most common questions we receive from our customers.</p>
                </div>
                <div class="mb-4">
                    <div class="accordion accordion-flush mb-4" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header py-2" data-aos="fade-up" data-aos-duration="600">
                                <button
                                    class="accordion-button collapsed bg-white shadow-none fw-bold text-dark px-0"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne"
                                >
                                    What types of car repairs do you offer?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body pt-0 px-0" data-aos="fade-up" data-aos-duration="600">
                                    We offer a wide range of car repair services including engine repair, brake repair, transmission services, oil changes, and more. Our experienced technicians are equipped to handle all your car repair needs.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header py-2" data-aos="fade-up" data-aos-duration="700">
                                <button
                                    class="accordion-button collapsed bg-white shadow-none fw-bold text-dark px-0"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseTwo"
                                >
                                    How long does a typical car repair take?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body pt-0 px-0" data-aos="fade-up" data-aos-duration="600">
                                    The duration of a car repair depends on the complexity of the issue. Minor repairs can be completed within a few hours, while more extensive repairs may take a day or more. We always strive to provide timely and efficient service.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header py-2" data-aos="fade-up" data-aos-duration="800">
                                <button
                                    class="accordion-button collapsed bg-white shadow-none fw-bold text-dark px-0"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree"
                                >
                                    Do you offer warranty on your repair services?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body pt-0 px-0" data-aos="fade-up" data-aos-duration="600">
                                    Yes, we offer a warranty on all our repair services. Our warranty covers parts and labor for a specified period, ensuring that you have peace of mind when you choose our car repair center.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-lg rounded-0" data-aos="fade-up" data-aos-duration="800">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
        <!-- Bussiness logo -->
        {% include business-logos.html %}
        <!-- book an appointment -->
        <div class="book-appointment py-5">
            <div class="container py-4">
                <div class="row align-items-center justify-content-between g-4">
                    <div class="col-lg-4 col-12">
                        <a href="#" class="link-light"><i class="ri-phone-fill me-2" data-aos="fade-up" data-aos-duration="600"></i>Call us: {{site.phone}}</a>
                        <h1 class="fw-bold text-white py-3" data-aos="fade-up" data-aos-duration="600">We Provide The Best Mechanical Help</h1>
                        <a href="#" class="btn btn-primary btn-lg rounded-0" data-aos="fade-up" data-aos-duration="600">Learn More</a>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="bg-primary p-5">
                            <div class="text-center text-white mb-4" data-aos="fade-up" data-aos-duration="600">
                                <h4 class="fw-bold">Book an Appointment</h4>
                                <p>Schedule your car repair or maintenance service with us today.</p>
                            </div>
                            
                            {% include contact-form.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        