---
layout: default
title: "Services | New Age Motors"
---

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
    </div>
</div>
<div class="bg-homepage d-flex align-items-center flex-column">
    <!-- Navbar -->
    <div class="car-serive-nav shadow w-100">
        {% include navbar.html %}
    </div>
    <!-- header -->
    <div class="py-5">
        <div class="container py-5">
            <div class="row pb-5 mb-5 align-items-center">
                <div class="mb-5 pb-5">
                    <div class="text-center text-white pb-5 mb-5">
                        <h1 class="fw-bold display-4 pb-2" data-aos="fade-up" data-aos-duration="700">Our Services</h1>
                        <nav aria-label="breadcrumb" class="">
                            <ol class="breadcrumb d-flex align-items-center justify-content-center gap-1" data-aos="fade-up" data-aos-duration="800">
                                <li class="breadcrumb-item small"><a href="index.html" class="text-white-50">HOME</a></li>
                                <li><i class="ri-arrow-right-s-line"></i></li>
                                <li class="breadcrumb-item small text-white active" aria-current="page">SERVICES</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- all services -->
<div class="all-services">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="700">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/services/service-1.jpg" class="card-img-top rounded-0" alt="Engine Repair">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-1.png" alt="Engine Repair" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Engine Repair</h4>
                        <p class="card-text text-secondary-emphasis">Comprehensive engine diagnostics and repairs, from minor adjustments to full rebuilds, ensuring your engine runs smoothly and efficiently.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="800">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/services/service-2.jpg" class="card-img-top rounded-0" alt="Transmission Services">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-2.png" alt="Transmission Services" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Transmission Services</h4>
                        <p class="card-text text-secondary-emphasis">Expert transmission diagnostics and repairs, including fluid replacement, clutch repair, and transmission rebuilds to keep your vehicle shifting smoothly.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="900">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/services/service-3.jpg" class="card-img-top rounded-0" alt="Tire and Wheels">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-3.png" alt="Tire and Wheels" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Tire and Wheel Services</h4>
                        <p class="card-text text-secondary-emphasis">Professional tire balancing, alignment, and rotation services to ensure even wear, fuel efficiency, and a smooth ride.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="1000">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://images.unsplash.com/photo-1635691035955-2763da0d6f19?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top rounded-0" alt="Car Painting">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-4.png" alt="Car Painting" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Car Painting</h4>
                        <p class="card-text text-secondary-emphasis">High-quality painting services to restore your car's shine or give it a fresh new look, using advanced color matching for precision.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="1100">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/services/service-5.jpg" class="card-img-top rounded-0" alt="Brakes Services">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-5.png" alt="Brakes Services" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Brake Services</h4>
                        <p class="card-text text-secondary-emphasis">Brake inspections, repairs, and replacements to ensure your safety and control, using high-quality parts for reliable stopping power.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-duration="1200">
                <div class="card border-0 rounded-0 shadow-sm">
                    <img src="https://iamosahan.com/wrapbootstrap-pillarix/carx/img/services/service-6.jpg" class="card-img-top rounded-0" alt="Computer Diagnostics">
                    <div class="card-body p-5 mt-n6">
                        <div class="bg-primary p-3 service-icon mb-4">
                            <img src="/assets/img/our-services/service-6.png" alt="Computer Diagnostics" class="img-fluid">
                        </div>
                        <h4 class="card-title fw-bold">Computer Diagnostics</h4>
                        <p class="card-text text-secondary-emphasis">Advanced computer diagnostics to identify issues accurately, from engine performance to emissions, ensuring optimal car health.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- Testimonials -->
{% include testimonials.html %}
<!-- Bussiness logo -->
<div class="py-5">
    <div class="container py-4">
        <div class="row row-cols-lg-4 row-cols-2 align-items-center g-4">
            <div class="col" data-aos="fade-up" data-aos-duration="700">
                <img src="/assets/img/business-logo/business-logo-1.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="800">
                <img src="/assets/img/business-logo/business-logo-2.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="900">
                <img src="/assets/img/business-logo/business-logo-3.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/img/business-logo/business-logo-4.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
        </div>
    </div>
</div>
<!-- Book an appointment -->
<div class="book-appointment py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <div class="bg-primary text-white text-center p-5">
                    <div data-aos="fade-up" data-aos-duration="700">
                        <h1 class="fw-bold pb-2">Book an Appointment</h1>
                        <p>
                            Phasellus risus turpis, pretium sit amet magna non, molestie ultricies enim. Nullam pulvinar felis at<br>
                            metus malesuada, nec convallis lacus commodo.
                        </p>
                    </div>
                    <form class="row align-items-center justify-content-center g-3 my-3">
                        <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="700">
                            <input id="nameInput" class="form-control rounded-0 border-0 py-2" type="text" placeholder="Your Name" aria-label="default input example">
                        </div>
                        <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-duration="800">
                            <input id="phoneInput" class="form-control rounded-0 border-0 py-2" type="number" placeholder="Your Phone Number" aria-label="default input example">
                        </div>
                        <div class="col-md-auto col-12" data-aos="fade-up" data-aos-duration="800">
                            
        <button type="button" class="btn btn-secondary rounded-0 py-2 w-100" onclick="sendToWhatsApp()">Talk To Us</button>
                        </div>
                    </form>
                    <small class="mb-0" data-aos="fade-up" data-aos-duration="800">By submitting my data I agree to be contacted.</small>
                </div>
            </div>
        </div>
    </div>
</div>