<!-- Bussiness logo -->
<div class="py-5">
    <div class="container py-4">
        <div class="row row-cols-lg-4 row-cols-2 align-items-center g-4">
            <div class="col" data-aos="fade-up" data-aos-duration="600">
                <img src="/assets/img/business-logo/business-logo-1.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="700">
                <img src="/assets/img/business-logo/business-logo-2.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="800">
                <img src="/assets/img/business-logo/business-logo-3.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="900">
                <img src="/assets/img/business-logo/business-logo-4.svg" alt="bussiness-logo" class="img-fluid d-block mx-auto">
            </div>
        </div>
    </div>
</div>