<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <!--Meta tags-->
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ page.title }} - {{ site.title }}" />
    <meta name="description" content="{{ page.description }}" />
    <!-- SEO Keywords for New Age Motors -->
    <meta name="keywords" content="New Age Motors, Car Repair Centre, Harare, Kadoma, Zimbabwe,auto repair, vehicle maintenance, car service, brake repair, engine diagnostics, oil change, transmission repair, tire replacement, car repair, automotive repair, car inspection, exhaust repair, car battery replacement, suspension repair, wheel alignment, car body repair, emergency car repair, affordable car repair, car repair services" />
    
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.image }}" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="twitter:description" content="{{ site.description }}" />
    <meta property="twitter:image" content="{{ site.image }}" />

    <link rel="icon" href="/assets/img/pages/icon.png" type="image/png">
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="/assets/vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="/assets/vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="/assets/vender/aos/dist/aos.css">
        <!-- Remix icons -->
        <link rel="stylesheet" href="/assets/vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="/assets/css/common.css">
  </head>