<div class="py-5">
    <div class="container py-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="text-center mb-4" data-aos="fade-up" data-aos-duration="700">
                    <h1 class="fw-bold">Testimonials</h1>
                </div>
            </div>
        
            <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="700">
                <div class="bg-white shadow-sm p-5">
                    <div class="d-flex align-items-center gap-3 mb-4">
                        <img src="/assets/img/profile/1.jpg" alt="testimonial" class="img-fluid rounded-circle testimonial-img">
                        <div>
                            <h5 class="fw-bold mb-1">Adam Lee</h5>
                            <p class="text-secondary-emphasis mb-0">Excellent Service</p>
                        </div>
                    </div>
                    <p class="text-secondary-emphasis mb-0">
                        "I brought my car in for engine repairs, and I couldn't be happier with the results! The mechanics were knowledgeable, professional, and finished the job faster than expected. My car runs like new again!"
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="800">
                <div class="bg-white shadow-sm p-5">
                    <div class="d-flex align-items-center gap-3 mb-4">
                        <img src="/assets/img/profile/2.jpg" alt="testimonial" class="img-fluid rounded-circle testimonial-img">
                        <div>
                            <h5 class="fw-bold mb-1">Alice Lee</h5>
                            <p class="text-secondary-emphasis mb-0">Highly Recommended</p>
                        </div>
                    </div>
                    <p class="text-secondary-emphasis mb-0">
                        "The team here was incredible! They fixed my brakes and checked everything thoroughly. I feel so much safer driving now. Friendly staff, fair prices, and exceptional quality of work."
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4 col-12" data-aos="fade-up" data-aos-duration="900">
                <div class="bg-white shadow-sm p-5">
                    <div class="d-flex align-items-center gap-3 mb-4">
                        <img src="/assets/img/profile/3.jpg" alt="testimonial" class="img-fluid rounded-circle testimonial-img">
                        <div>
                            <h5 class="fw-bold mb-1">Ethan Jackson</h5>
                            <p class="text-secondary-emphasis mb-0">Reliable and Fast</p>
                        </div>
                    </div>
                    <p class="text-secondary-emphasis mb-0">
                        "I had my car's transmission serviced here. The mechanics explained everything in detail and did a fantastic job. I trust them completely with my car and will definitely be back for any future repairs."
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>