<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    
        <!-- Bootsrap Bundle Js -->
        <script src="/assets/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="/assets/vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="/assets/vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="/assets/js/script.js"></script>
        <script src="/assets/js/self-scripts.js"></script>
  </body>
</html>
